* {
    padding: 0%;
    margin: 0em;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 4rem;
}

header p {
    font-size: 1rem;
    text-align: center;
}

.pads {
    display: flex;
    width: 100%;
}

.pads>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: darkred;

}

.pad2 {
    background: darkgreen;

}

.pad3 {
    background: darkmagenta;

}

.pad4 {
    background: navy;

}

.pad5 {
    background: darkcyan;

}

.pad6 {
    background: darkgoldenrod;

}